/* You can add global styles to this file, and also import other style files */
.text_box {
  display: inline-block;
  box-shadow: 1px 1px 2px #009688;
  padding: 40px;
}

.card_block {
  width: 220px;
}

.card_inline {
  display: inline-block;
  padding: 10px;
  margin: 10px;
}

